StateMachine/ImageResizer.json
{
  "Comment": "A description of my state machine",
  "StartAt": "ResizingImage",
  "States": {
    "ResizingImage": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:ca-central-1:977099008862:function:ResizeImageFunction:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "ImageResizedSuccessfully",
          "Condition": "{% ($states.input.status) = (\"success\") %}"
        }
      ],
      "Default": "FailedToResizeImage"
    },
    "ImageResizedSuccessfully": {
      "Type": "Succeed"
    },
    "FailedToResizeImage": {
      "Type": "Fail"
    }
  },
  "QueryLanguage": "JSONata"
}